.image-onboarding {
    width: 50%;
    height: auto;
}

.image-onboarding-bigger {
    width: 70%;
    height: auto;
}

.image-onboarding-biggest {
    width: 90%;
    height: auto;
}

.image-onboarding-100 {
    width: 100%;
    height: auto;
}

* {
    background-color: #005bc1;
}

/* make room for the notch at the top */
@media screen and (orientation: portrait) {
    html[data-notch="true"] {
        padding-top: 44px;
        height: calc(100% - 44px);
    }
}

/* make room for the notch at the sides */
@media screen and (orientation: landscape) {
    html[data-notch="true"] {
        padding-left: 44px;
        padding-right: 44px;
        width: calc(100% - 44px - 44px);
    }
}
